@font-face {
    font-family: "mario_font";
    src: url(./super_mario_256/SuperMario256.ttf);
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}

span {
    font-family: "mario_font";
    font-size: 3rem;
}

h1, h2, h3 {
    text-align: center;
    font-family: "mario_font";
    color: red;
}

header {
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_box {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_line {
    height: 0.7px;
    width: 80vw;
    background-color: black;
    display: flex;
    justify-self: center;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header ul li, a {
    list-style: none;
    cursor: pointer;
}

header a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: black;
}

.background {
    width: 100%;
}

.about_box {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f3f4;
}

.mario_2finger_box {
    height: 35vh;
} 

.mario_2finger_gif {
    height: 25vh;
    width: 12vw;
    border-radius: 100%;
}

.about_text {
    width: 60vw;
}

.main_hystory {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mario_hystory_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.mario_hystory_box p {
    width: 20%;
}

.mario_first_game_box {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mario_first_game_box p {
    text-align: center;
    width: 45vw;
}

.mario_first_img {
    width: 20vw;
}

.ranked_list_box {
    height: 40vh;
    background-color: #f5f3f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rendered_list_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rendered_list_box button {
    height: 5vh;
    width: 8vw;
    border-radius: 10px;
    cursor: pointer;
    font-family: "mario_font";
}

.rendered_list_box ol {
    list-style: none;
    counter-reset: inc;
}

.rendered_list_box ol li {
    counter-increment: inc;
    content: counter(inc);
}

.rendered_list_box ol li::before {
    content: counter(inc) ". ";
    font-family: "mario_font";
}

footer {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social_media_box {
    display: flex;
    justify-content: space-around;
}

.social_media_img {
    width: 1.8rem;
    cursor: pointer;
}

.power_up_gif {
    display: flex;
    justify-content: flex-end;
}

.footer_power_up_gif {
    width: 10%;
}